---
---

@import "{{ site.theme }}";
.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: url('/assets/triangular.jpeg');
    background-position: 100% 0, 0 center, center top;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #262626;
    font-weight:bold;
    font-family: "Source Sans Pro","Helvetica","Arial","sans-serif";
}

a {
    color: #337ab7;
}

li {
    padding: 0;
}
